.project/runtime
.project/bak
/frontend
QR_code
.project/utils/captcha
.project/database.db
.project/note.txt
__pycache__
.idea
.git

*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
